.main-section{
    background-color: #F5F5F5;
    overflow-y: scroll;
    gap: 2%;

    .part-one{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 2%;
    }

    .part-two{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        img{
            // width: calc(100%/2)
           
        }
    }

    .part-three{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      
        img{
            // width: calc(100%/3)
           
        }
    }
}

